@font-face {
  font-family: "DM Seraf Display";
  src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body {
  margin: 0;
  background-color: #EDF3F8;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-image: url("../../img/Bitmap.svg");
  background-position: right top;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 74px;
}

.site-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__logo {
  display: inline-block;
  padding-right: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-header__menu {
  display: none;
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__nav-item {
  padding-right: 40px;
}

.site-header__nav-item a {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.site-header__btn {
  background-color: #BA4270;
  border-radius: 24px;
  padding: 15px 25px;
}

.site-header__btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
}

@media screen and (max-width: 660px) {
  .site-header__nav-item {
    padding-right: 20px;
  }
}
@media screen and (max-width: 600px) {
  .site-header__menu {
    display: inline-block;
  }
  .site-header__btn {
    display: none;
  }
  .site-header__nav {
    display: none;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 75px;
}

.hero__block {
  max-width: 546px;
}

.hero__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.553846px;
  color: #36536B;
  padding-bottom: 21px;
}

.hero__input {
  background-color: #FBFCFE;
  border-radius: 24px;
  padding: 15px 250px 15px 27px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  max-width: 445px;
}

.hero__form {
  position: relative;
}

.hero__btn {
  position: absolute;
  right: 18%;
  padding-bottom: 16px;
}

.hero__mobil-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background-color: #BA4270;
  border-radius: 24px;
  padding: 15px 105px;
  display: none;
}

.hero__info {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
  margin-top: 16px;
}

.hero__info2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
  margin-top: 16px;
  display: none;
}

.hero__img img {
  max-width: 263px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
}

.hero__btn-block {
  padding-top: 16px;
}

@media screen and (max-width: 1200px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 100px;
  }
  .hero__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536B;
  }
  .hero__info {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C8294;
  }
  .hero__img {
    padding-bottom: 62px;
  }
  .hero__block {
    max-width: 573px;
    text-align: center;
  }
  .hero__btn {
    position: absolute;
    right: 8%;
  }
}
@media screen and (max-width: 780px) {
  body {
    margin: 0;
    background-color: #EDF3F8;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-image: url("../../img/BitmapTablet.svg");
    background-position: top;
  }
}
@media screen and (max-width: 600px) {
  .hero__mobil-btn {
    display: inline-block;
    padding: 15px 165px 15px 165px;
  }
  .hero__info {
    display: none;
  }
  .hero__info2 {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .hero__input {
    max-width: 300px;
    padding: 15px 117px 15px 27px;
  }
  .hero__mobil-btn {
    display: inline-block;
    padding: 15px 85px 15px 85px;
  }
  .hero__img img {
    max-width: 125px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 20px;
  }
  .hero__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: #36536B;
  }
}
#work {
  background-color: #1B262F;
}

.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.work__left {
  max-width: 445px;
}

.work__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #FBFCFE;
}

.work__left-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
  padding-top: 24px;
  padding-bottom: 32px;
}

.work__right {
  display: inline-block;
}

.work__btn {
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  padding: 15px 32px;
  background-color: #1B262F;
  color: white;
}

.work__right-2 {
  display: none;
}

@media screen and (max-width: 1200px) {
  .work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .work__left {
    max-width: 457px;
    padding-top: 64px;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .work__right {
    display: none;
  }
  .work__right-2 {
    display: inline-block;
  }
}
#easy {
  padding-top: 150px;
  max-width: 1045px;
  margin: 0 auto;
}

.easy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.easy__content {
  max-width: 445px;
}

.easy__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
  padding-bottom: 24px;
}

.easy__subtite {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

.easy__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1050px) {
  .easy__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    max-width: 573px;
    margin: 0 auto;
  }
  #easy {
    padding-top: 80px;
  }
  .easy__content {
    text-align: center;
  }
  .easy__subtite {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
  }
  .easy__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
    padding-bottom: 24px;
  }
  .easy__img {
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 500px) {
  .easy__img {
    width: 328px;
  }
  .easy__content {
    width: 328px;
  }
}
@media screen and (max-width: 310px) {
  .easy__img {
    width: 280px;
  }
  .easy__content {
    width: 280px;
  }
}
#simple {
  background-repeat: no-repeat;
  background-image: url("");
  background-position: right;
  padding-top: 150px;
}

.simple__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simple__left {
  max-width: 445px;
}

.simple__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.simple__imgs img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.simple__img img {
  border-bottom-right-radius: 70px;
  padding-right: 40px;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.simple__info {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

.simple__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}

@media screen and (max-width: 1100px) {
  .simple__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .simple__imgs {
    padding: 48px;
  }
  #simple {
    padding-top: 100px;
  }
  .simple__img img {
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
}
@media screen and (max-width: 600px) {
  #simple {
    padding-top: 40px;
  }
  .simple__img img {
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
}
.cards__container {
  padding-top: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__card {
  max-width: 350px;
}

.cards__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536B;
  position: relative;
}
.cards__card-title::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../../img/before1.svg");
  width: 106px;
  height: 106px;
  position: absolute;
  top: -150px;
  left: 120px;
}

.cards__card-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6C8294;
  padding-top: 16px;
  max-width: 350px;
}

@media screen and (max-width: 1100px) {
  .cards__card {
    width: 223px;
    padding: 0;
  }
  .cards__container {
    padding-top: 200px;
  }
  .cards__card-title::before {
    width: 88px;
    height: 88px;
    background-size: contain;
    top: -120px;
    left: 75px;
  }
}
@media screen and (max-width: 630px) {
  .cards__card-title::before {
    width: 88px;
    height: 88px;
    background-size: contain;
    top: -120px;
    left: 130px;
  }
  .cards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards__card {
    width: 328px;
    padding-top: 150px;
  }
  .cards__container {
    padding-top: 50px;
  }
}
@media screen and (max-width: 330px) {
  .cards__card {
    width: 280px;
  }
}
.ready__container {
  padding-top: 96px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}

.ready__btn {
  position: absolute;
  right: 0;
  border: none;
}

@media screen and (max-width: 900px) {
  .ready__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .ready__title {
    padding-bottom: 40px;
  }
}
#footer-section {
  background-color: #1B262F;
  background-image: url("../../img/footerBack.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: inline-block;
  padding-right: 64px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-item {
  padding-right: 40px;
}

.footer__nav-item a {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.footer-link a {
  padding-right: 24px;
}

@media screen and (max-width: 664px) {
  .footer__nav-item {
    padding-right: 20px;
  }
  .footer__logo {
    padding-right: 40px;
  }
}
@media screen and (max-width: 580px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 444px) {
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    padding-top: 20px;
    padding-bottom: 45px;
  }
  #footer-section {
    background-image: none;
  }
  .footer__nav-item {
    padding-top: 31px;
  }
}/*# sourceMappingURL=main.css.map */