.cards__container{
    padding-top: 285px;
    display: flex;
    justify-content: space-between;
}



.cards__card{
    max-width: 350px;
}

.cards__card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #36536B;
    position: relative;

    &::before{
        content: "";
        background-repeat: no-repeat;
        display: inline-block;
        background-image: url('../../img/before1.svg');
        width: 106px;
        height: 106px;
        position: absolute;
        top: -150px;
        left: 120px;
    }
}


.cards__card-subtitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;
    padding-top: 16px;
    max-width: 350px;
}

@media screen and (max-width:1100px) {
    .cards__card{
        width: 223px;
        padding: 0;
    }    
    .cards__container{
        padding-top: 200px;
    }
    .cards__card-title{
        &::before{
            width: 88px;
            height: 88px;
            background-size:contain;
            top: -120px;
            left: 75px;
        }
    }
}

@media screen and (max-width:630px) {
    .cards__card-title{
        &::before{
            width: 88px;
            height: 88px;
            background-size:contain;
            top: -120px;
            left: 130px;
        }
    }

    .cards__container{
        flex-direction: column;
        align-items: center;
    }

    .cards__card{
        width: 328px;
        padding-top: 150px;
    } 

    .cards__container{
        padding-top: 50px;
    }
    
}

@media screen and (max-width:330px) {
    .cards__card{
        width: 280px;
    } 
}